.customize-section-description-container + #customize-control-custom_css:last-child .CodeMirror {
	height: calc( 100vh - 185px );
}
.CodeMirror-lint-tooltip,
.CodeMirror-hints {
	z-index: 500000 !important;
}

.customize-section-description ul {
	margin-left: 1em;
}
.customize-section-description ul > li {
	list-style: disc;
}

.customize-section-description-container + #customize-control-custom_css:last-child .customize-control-notifications-container {
	margin-left: 12px;
	margin-right: 12px;
}

.section-description-buttons {
	text-align: right;
}

.section-description-buttons button.button-link {
	color: #0073aa; /* @todo Color scheme? */
	text-decoration: underline;
}
